.phoneInHtml {
    display: none;
}

#home-phone img {
    width: 100%;
    height: 100%;
    background-color: #BDEEE8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}

#contact-phone img {
    border-radius: 100%;
}