#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    /* background-color: #FFCFE4; */
    /* background-image: linear-gradient(#FFCFE4, rgba(255, 207, 228, 0.5)); */
    /* background-image: linear-gradient(rgba(255, 207, 228, 1), rgba(255, 207, 228, 0)); */
}

#header_blend{
    width:100%;
    height:20vh;
    /* background-color: rgba(255, 207, 228, 0.5); */
    position: fixed;
    transform: translate(0, 0vh);
    /* background-image: linear-gradient(rgba(255, 207, 228, 0.5), rgba(255, 207, 228, 0)); */
    background-image: linear-gradient(rgba(255, 207, 228, 1), rgba(255, 207, 228, 1), rgba(255, 207, 228, 0));
    z-index: 0;
}

#header img{
    height:60%;
    margin: 0 0 0 5vw;
    border-radius: 10px;
    aspect-ratio: 1;
    border:3px solid #f8a4bc;
}

#header h1 {
    margin:auto;
    margin-left: 0px;
    font-size:20px;
    font-weight:900;
    background-color: #f8a4bc;
    padding:5px 20px 5px 10px;
    border-radius: 0 10px 10px 0px;
    color:#eeeeee;
}

#header ul {
    display: flex;
    list-style-type: none;
    gap:10px;
    height:50%;
    margin-right:20px;
}

#header ul li {
    height:100%;
    background-color: #f8a4bc;
    
    border-radius:20px;
    display:flex;
    align-items:center;
    padding-left:20px;
    padding-right:20px;
    transition:0.2s;
}

#header ul li:hover {
    /* background-color: blue; */
    /* box-shadow: 0 6px 0 #FFCFE4; */
    border-width: 0 0 5px 0;
    /* border-color: #FFCFE4; */
    border-color: #c8849c;
    border-style: solid;
    transition:0.2s;
}

#header ul li a {
    text-decoration: none;
    margin:auto;
    /* height:100%; */
    line-height:100%;
    color: white;
    display:block;
    font-size:20px;
    font-weight:700;
}

#dsidenav {
    position: fixed;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}

#dsidenav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

#dsidenav ul li {
    background-color: #ffffff50;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
}

#dsidenav ul li:hover {
    background-color: #ffffff80;
    transition: 0.2s;
}

#dsidenav ul li a {
    text-decoration: none;
    margin: auto;
    line-height: 100%;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 700;
}

#dsel {
    background-color: rgba(196, 11, 199, 0.314);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
}
/* #home {
    height: 100vh;
    background-image: url("../img/background-home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    font-family: 'Roboto', sans-serif;

    text-align: center;
} */

/* hide header blend when header not top */
.sticky:not(#header, h1) {
    display: none;
}

.sticky {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.fsticky {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

