@import url(section.css);
@import url(contact.css);
@import url(about.css);
@import url(papers.css);
@import url(feature.css);
@import url(sub.css);
@import url(home.css);
@import url(team.css);
@import url(footer.css);

@import url(phone.css);

html, body {
  height: 799;
  width: 1536;
}

/* check if firefox */
@-moz-document url-prefix() {
  * {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
  height: 799;
  width: 1536;

  font-family: 'Inter', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

.pages {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.renderer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* interact throu it */
  pointer-events: none;
}

.cssrenderer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; /* change to 1 before the end so phone interation can work */
  pointer-events: none;
}

#scrollProgress {
  transform: translateZ(0); 
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  font-size: 3vh;
}

#footer {
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  background-color: #f8a4bc;
}

#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#footer ul li {
  margin: 0 10px;
}

#footer ul li a {
  text-decoration: solid;
  color: black;
}

#footer ul li a:hover {
  color: #f8a4bc;
}

#footer ul li a:active {
  color: #f8a4bc;
}

#footer ul li a:visited {
  color: black;
}

#footer ul li a:focus {
  color: #f8a4bc;
}

#footer ul li a:link {
  color: black;
}