* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
}

.pages {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.renderer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cssrenderer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* change to 1 before the end so phone interation can work */
}
