#subscription {
    height: 100vh;
    background-color: #FFB8B8;
    background-image: url("../img/bg-subscription.png");
    display:flex;
}
.subphone {
    display: none;
}

@media only screen and (max-width: 1100px) {
    #sub_phoneHTML {
        display: none;
    }

    .subphone{
        /* rotate: 90deg; */
        /* width:60%; */
        aspect-ratio: 16 / 9;
    
        width: 80%;
    
        margin:auto;
        background-color: #BDEEE8;
    
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    
        border-radius: 20px;
    }
    
    .subphone h1{
        width:100%;
        height:fit-content;
        font-size:24px;
        font-weight:900;
        text-align: center;
        margin:auto;
        /* height:90px;
        line-height:110px; */
    }
    
    .subPlan_container{
        width:100%;
        height:80%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }
    
    .subPlan{
        width:25%;
        height:85%;
        background-color: #aadfd4;
        border-radius: 20px;
        margin:auto;
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: 0.1fr 1fr 0.5fr;
    }
    
    .subPlan h2{
        width:100%;
        height:fit-content;
        margin:auto;
        text-align: center;
        font-size:14px;
        font-weight:900;
        color:#333333;
    }
    
    /* .subPlan p{
        width:80%;
        height:auto;
        margin-left:10%;
        font-size:10px;
        font-weight:700;
        color:#333333;
    }
    .subPlan p ul{
        list-style-type: none;
        padding-left: 0px;
    }
    .subPlan p ul li{
        margin-bottom: 5px;
        font-size: 10px;
    } */
    
    .subPlan dl {
        width:80%;
        height:auto;
        margin:auto;
        font-size:10px;
        font-weight:700;
        color:#333333;
    }
    
    .subPlan dl dt{
        margin-bottom: 5px;
        font-size: 10px;
    }
    
    .subPlan dl dd{
        margin-bottom: 5px;
        font-size: 10px;
    }
    
    .subPlan h3{
        width:80%;
        height:fit-content;
        margin:auto;
        padding:5% 2%;
        text-align: center;
        font-size:14px;
        font-weight:900;
        color:#679191;
        background-color: #FFEECC;
        border-radius: 10px;
    }
    
    .right_align{
        text-align: right;
    }

}